<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-categories.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:21 GMT -->

<head>
   <meta charset="utf-8">
   <title>PLAYWHEELS | <%=title%>
   </title>
   <meta http-equiv="x-ua-compatible" content="ie=edge">
   <meta name="description" content="">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta property="og:title" content="">
   <meta property="og:type" content="">
   <meta property="og:url" content="">
   <meta property="og:image" content="">
   <!-- Favicon -->
   <!-- <link rel="shortcut icon" type="image/x-icon" href="/public/evara/assets/imgs/theme/favicon.svg"> -->
   <!-- Template CSS -->
   <link href="/public/evara/assets/css/main.css" rel="stylesheet" type="text/css" />
   <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
   <!--stylesheet-->
   <!-- <link rel="stylesheet" href="/public/stylesheets/header.css">
   <link rel="stylesheet" href="/public/stylesheets/footer.css">
   <link rel="stylesheet" href="/public/stylesheets/section.css">
   <link rel="stylesheet" href="/public/stylesheets/temp.css">
   <link rel="stylesheet" href="/public/stylesheets/temp1.css">
   <link rel="stylesheet" href="/public/stylesheets/login.css"> -->

   <link rel="icon" href="/public/images/bgLogin.SVG" image="/x-icon">
   <!-- <link rel="stylesheet" href="/public/css/form.css"> -->

  
   <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</head>

<!-- Bootstrap JS and jQuery -->