<body>
    <header>
        <nav class="navbar">
            <div class="d-sm-flex flexN navbar-left  navbar-column d-none">
                <div><a class="navItemA" href="">HOME</a></div>
                <div><a class="navItemA" href="">SHOP</a></div>
                <div><a class="navItemA" href="">COUPONS</a></div>
                <div><a class="navItemA" href="">ABOUT US</a></div>

            </div>
            <div class="navbar-column navbar-center">
                <h1 class="navbar-logo">PLAYWHEELS</h1>
            </div>
            <div class="navbar-column navbar-right ">
                <div class=" navItemA pl-3 pr-3"><i class="fas fa-search"></i>
                </div>
                <div class=" navItemA pl-3 pr-3">
                    <i class="fa fa-heart" style="font-size:25px;"></i>
                </div>
                <div class="navItemA pl-3 pr-3">
                    <img style="width: 20px;" src="../public/images/car-tunnel-solid.svg" alt="azbc">
                </div>


            </div>

            </div>
            <div class="navbar-toggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="navbar-dropdown">
                <a href="#">HOME</a>
                <a href="#">SHOP</a>
                <a href="#">COUPONS</a>
                <a href="#">ABOUT AS</a>
            </div>
            <div class="search_input" id="search_input_box">
                <div class="container">
                    <form class="d-flex justify-content-between" action="/shop">
                        <input type="text" class="form-control" id="search_input" placeholder="Search Here"
                            name="search">
                        <button type="submit" class="btn"></button>
                        <span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
                    </form>
                </div>
            </div>
        </nav>
    </header>