<%- include('./user/userParsels/head.ejs') %>
<%- include('./user/userParsels/logHead.ejs') %>

<body class="bgCol">

  <div>
      <h1 class="mt-3 ml-5"><a href="" class="text-decoration-none ">PLAYWHEELS</a></h1>
      <!-- Main Content -->
      <div
          class="row container-fluid col-md-12 col-xs-12 col-sm-12 login_form  row main-content  text-center container-fluid">

          <div class="row pt-2">
              <h2>Error - 404</h2>
          </div>
          <h3>
      </div>

      <div><a class="btn " href="/userProfile">User - Profile</a>
      </div>
      <div><a class="btn " href="/shop"><i class="fi-rs-shopping-bag mr-10"></i>Continue
              Shopping</a>
      </div>
  </div>
</body>

</html>