<%- include('./userParsels/logHead.ejs') %>

    <body class="bgCol">

        <div>
            <h1 class="mt-5 ml-5"><a href="" class="text-decoration-none ">PLAYWHEELS</a></h1>
            <!-- Main Content -->
            <div class="container-fluid col-md-12 col-xs-12  col-sm-12 login_form  row main-content  text-center container-fluid"
                style="height:350px">

                <div class="row pt-4">
                    <h2>Login Using the Link in Mail</h2>
                </div>
                <div class="row ">
                    <p>Click Login if you know the Password <a href="/login">Login</a></p>
                </div>
                <div class="row">
                    <p> <a href="/forgetPassword">Back</a></p>
                </div>
                <!-- Footer -->
            </div>
            <div class="m-5 p-3">.</div>
            <script>
            </script>
    </body>

    </html>