<%- include('./userParsels/logHead.ejs') %>

    <body class="bgCol">

        <div>
            <h1 class="mt-5 ml-5"><a href="" class="text-decoration-none ">PLAYWHEELS</a></h1>
            <!-- Main Content -->
            <div
                class="container-fluid col-md-12 col-xs-12 col-sm-12 login_form  row main-content  text-center container-fluid">

                <div class="row pt-3">
                    <h2>FORGET PASSWORD</h2>
                </div>
                <div class="container">
                    <div class="row justify-content-center ">
                        <form control="" class="form-group " action="/forgetPassword" method="post">
                            <div class="row ">
                                <!-- <span class="fa fa-lock"></span> -->
                                <input type="email" name="Email" id="email" class="form__input" placeholder="EMAIL">
                            </div>
                            <div class="row justify-content-center">
                                <input type="submit" value="Send Mail" class="btn">
                            </div>

                        </form>
                    </div>

                    <div class="row">
                        <p class=""><a href="#">Back</a></p>
                    </div>

                </div>
            </div>
            <!-- Footer -->
        </div>
        <div class="p-5 m-4">.</div>
        <script>
        </script>
    </body>

    </html>