<%- include('./userParsels/head.ejs') %>
    <%- include('./userParsels/header.ejs') %>
        
        <section>
            <div class="flexC" id="section1">
                <div id="myCarousel" class="carousel slide" data-interval="false">
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <video controls autoplay loop muted class="myvid" id="player">
                                <source src="/public/videos/section1.1.mp4" type="video/mp4">
                            </video>
                        </div>

                        <div class="carousel-item">
                            <video controls autoplay class="myvid" id="player2">
                                <source src="/public/videos/videoLRmain.mp4" type="video/mp4">
                            </video>
                        </div>

                    </div>

                    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Vorige</span>
                    </a>
                    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Volgende</span>
                    </a>
                </div>

                <div class="flexR" style="display: none;">
                    <div class="videoName">
                        <h2>THE NEW <br> RANGE ROVER SPORT​</h2>
                        <p>VISCERAL, DRAMATIC, UNCOMPROMISING</p>
                    </div>
                    <div class="buildUrOwn">
                        <div class="exploreBut"><a class="exploreA" href=""><span style="font-size: 30px;">&rarr;</span>
                                EXPLORE THIS VEHICLE</a></div>
                    </div>
                </div>
            </div>
        </section>

        <form action="/trial" method="post">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                    Default radio
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                    Default checked radio
                </label>
            </div>
            <button type="submit">abcd</button>
        </form>

        <%- include('./userParsels/footerScript.ejs') %>


            <tr>
                <td class="image"><img src="/public/evara/asset/imgs/shop/product-11-2.jpg" alt="#">
                </td>
                <td class="product-des">
                    <h5 class="product-name"><a href="shop-product-right.html">Amazon
                            Essentials Women's Tank</a></h5>
                    <p class="font-xs">Sit at ipsum amet clita no est,<br> sed amet
                        sadipscing et gubergren</p>
                </td>
                <td class="price" data-title="Price"><span>$75.00 </span></td>
                <td class="text-center" data-title="Stock">
                    <div class="detail-qty border radius  m-auto">
                        <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                        <span class="qty-val">2</span>
                        <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                    </div>
                </td>
                <td class="text-right" data-title="Cart">
                    <span>$150.00 </span>
                </td>
                <td class="action" data-title="Remove"><a href="#" class="text-muted"><i class="fi-rs-trash"></i></a>
                </td>
            </tr>
            <tr>
                <td class="image"><img src="/public/evara/asset/imgs/shop/product-6-1.jpg" alt="#">
                </td>
                <td class="product-des">
                    <h5 class="product-name"><a href="shop-product-right.html">Amazon
                            Brand - Daily Ritual Women's Jersey </a></h5>
                    <p class="font-xs">Erat amet et et amet diam et et.<br> Justo
                        amet
                        at dolore
                    </p>
                </td>
                <td class="price" data-title="Price"><span>$62.00 </span></td>
                <td class="text-center" data-title="Stock">
                    <div class="detail-qty border radius  m-auto">
                        <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                        <span class="qty-val">1</span>
                        <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                    </div>
                </td>
                <td class="text-right" data-title="Cart">
                    <span>$62.00 </span>
                </td>
                <td class="action" data-title="Remove"><a href="#" class="text-muted"><i class="fi-rs-trash"></i></a>
                </td>
            </tr>
            <tr>
                <td colspan="6" class="text-end">
                    <a href="#" class="text-muted"> <i class="fi-rs-cross-small"></i>
                        Clear Cart</a>
                </td>
            </tr>